@use 'variables' as v;
@use 'mixins' as *;
nav{
    color: white;
    background-color: v.$color-bg-nav;
    font-size: 2.2rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 2;
    display: flex;
    align-items: center;
}

.logo{
    flex-basis: 50%;
    padding-left: 30px;
}

.menu{
    flex-basis: 49%;
    text-align: right;
    padding-right: 20px;
    
    span{
        font-size: 3rem;
        cursor: pointer;
    }
}

.div-menu{
    background-color: rgba(0, 0, 0, 0.767);
    color: white;
    width: 100%;

    @include lg{
        width: 20%;
    }

    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.4rem;

    li{
        padding: 20px;
        text-align: center;
    }

    .material-icons{
        color: inherit;
        position: absolute;
        right: 20px;
        top: 20px;
        font-size: 40px;
        cursor: pointer;
    }
}

.hide-menu{
    display: none;
}

.show-menu{
    display: flex;
}

